<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Update Form</title>
    <link rel="stylesheet" href="/css/main-css.css">
</head>
<body>

<div>
  <h3>Update Profile</h3>
  <hr>

  <form action="#" th:action="@{/profile}" th:object="${user}" method="POST">

    <input type="text" th:field="*{username}">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></span>

    <br><br>

    <input type="password" th:field="*{password}" placeholder="New password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>

    <br><br>

    <input type="text" th:field="*{email}" placeholder="New email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>

    <br><br>

    <button type="submit">Save</button>
  </form>

  <hr>
  <a th:href="@{/profile}"><button>Back to Profile</button></a>
</div>

</body>
</html>