<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post NFT</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<h3>Add a new NFT</h3>
<hr>

<form action="#" th:action="@{/store/create}" th:object="${product}" method="POST">

    Name: <input type="text" th:field="*{name}" placeholder="Name of the NFT">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>

    <br><br>

    Your NFT: <input type="text" th:field="*{image}" placeholder="Image">
    <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="error"></span>

    <br><br>

    Price: <input type="text" th:field="*{price}" placeholder="Your Price">
    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></span>

    <br><br>

    <input type="submit" th:value="Submit">
</form>

<hr>
<a th:href="@{/}"><button>Back</button></a>

</body>
</html>