<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post NFT</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<h3>Add a new NFT</h3>
<hr>

<form action="#" th:action="@{/store/save}" th:object="${product}" method="POST">
    <input type="text" th:field="*{name}" placeholder="Name of the NFT">
    <input type="text" th:field="*{image}" placeholder="Image">
    <input type="text" th:field="*{price}" placeholder="Your Price">

    <button type="submit">Save</button>
</form>

<hr>
<a th:href="@{/}"><button>Back</button></a>

</body>
</html>