<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Store</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header>
    <div class="nav-main">
        <a th:href="@{/}"><h1>NFT Marketplace</h1></a>
        <nav>
            <a href="#" th:href="@{/store}">Explore</a>
            <a href="#" th:href="@{/profile/my-orders}">My NFTs</a>
            <a href="#" th:href="@{/store/create}">Create</a>
            <a href="#" th:href="@{/profile}">Profile</a>
        </nav>
    </div>
</header>

<main>
    <section class="hero">
        <h2 class="hero-title">Discover a World of NFTs</h2>
        <p class="hero-description">Explore a vast collection of unique digital assets, from art and collectibles to virtual worlds and gaming items.</p>
        <a th:href="@{/store}"><button class="btn-primary">Browse Marketplace</button></a>
    </section>

    <section class="featured-collections">
        <h2>Featured Collections</h2>
        <div class="collections-grid">
            <table class="table">
                <thead class="th">
                    <tr>
                        <th class="th">Name</th>
                        <th class="th">Image</th>
                        <th class="th">Price</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="tempProduct : ${products}">
                    <td th:text="${tempProduct.name}" class="td"></td>
                    <td class="td">
                        <img th:src="${tempProduct.image}" class="collection-image">
                    </td>
                    <td th:text="${tempProduct.price}" class="price td"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

</body>
</html>