<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header>
    <h1>NFT Marketplace</h1>
    <nav>
        <a href="#" th:href="@{/store}">Explore</a>
        <a href="#" th:href="@{/profile/my-orders}">My NFTs</a>
        <a href="#" th:href="@{/store/create}">Create</a>
        <a href="#" th:href="@{/profile}">Profile</a>
    </nav>
</header>

<div class="collections-grid">
    <table class="table">
        <thead class="th">
            <tr>
                <th scope="col" class="th">#</th>
                <th scope="col" class="th"></th>
                <th scope="col" class="th">Name</th>
                <th scope="col" class="th">Price</th>
                <th scope="col" class="th">Owners</th>
                <th scope="col" class="th">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tempProduct : ${products}">
                <td th:text="${tempProduct.productId}" class="td"/>
                <td class="td">
                    <img class="collection-image" th:src="${tempProduct.image}">
                </td>
                <td th:text="${tempProduct.name}" class="td"/>
                <td th:text="${tempProduct.price}" class="td price"/>
                <td th:text="${tempProduct.owners}" class="td"/>
                <td>
                    <a th:href="@{/order(productId=${tempProduct.productId})}"><button>Order</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>