body {
    font-family: sans-serif;
}

header {
    background-color: lightcyan;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #eee;
    font-weight: bold;
}

td {
    border: none;
}

.collection-image,
.nft-image {
    width: 100px;
    height: 100px;
}

.price {
    color: #007bff;
    font-weight: bold;
}

.error {
    color: red;
}